# Ignorar archivos y directorios generados automáticamente
vendor/
node_modules/
.env

# Ignorar archivos de configuración específicos de entorno
/config.php

# Ignorar archivos de registro y caché
/log/
/cache/

# Ignorar archivos específicos
debug.log